Source: eos-browser-tools
Section: admin
Priority: standard
Maintainer: Mario Sanchez Prada <mario@endlessm.com>
Build-Depends: debhelper (>= 9),
	dh-autoreconf,
	libglib2.0-dev
Standards-Version: 3.8.0
Homepage: http://www.endlessm.com

Package: eos-adblock-plus-extensions
Architecture: all
Depends: ${misc:Depends}
Description: Adblock Plus extension definitions
 This package provides the Adblock Plus extensions definitions, so that
 they are installed automatically and kept up to date when the user opens
 Chromium and Google Chrome.

Package: eos-browser-tools
Architecture: any
Pre-Depends: dpkg (>= 1.15.6)
Depends: ${shlibs:Depends},
        ${misc:Depends},
        chromium-browser,
        flatpak,
        gir1.2-flatpak-1.0,
        gir1.2-glib-2.0,
        python3,
        python3-gi
Suggests: eos-google-chrome-helper
Provides: mime<x-scheme-handler/webapp>
Description: Endless-specific and browser-related tools
 This currently provides a handler for webapp://<WM_CLASS>@<URI> URIs,
 which allows us to easily run chromium in application mode by specifying
 the desired WM_CLASS and final address to load in the URI.
 .
 As this handler gets installed in the OS, it can handle URLs loaded from
 unsandboxed environments (e.g. Facebook, WhatsApp) as well as those from
 sandboxed flatpak applications, that rely on the Flatpak's OpenURI portal.
 .
 If Google Chrome has been installed via the App Center (which requires
 having the eos-google-chrome-helper package installed), this script will
 consider using it instead of Chromium if it's set as the default browser,
 otherwise Chromium will be used.

Package: eos-google-chrome-helper
Architecture: amd64
Depends: ${misc:Depends},
	flatpak,
	gir1.2-flatpak-1.0,
	gir1.2-glib-2.0,
	malcontent-tools (>= 0.4.0+dev43.13a1e20-5),
	python3,
	python3-gi,
	python3-systemd
Replaces: eos-install-app-helper (<< 1.0.3)
Description: Google Chrome wrapper application
 Small package to contain the logic to launching Google Chrome on Endless
 OS when installed, or redirecting the user to the App Center otherwise.
